<?xml version='1.0' encoding='utf-8'?>
<widget id="com.fiqihdimas.kalkulatormbg" version="1.0.0">
    <name>Kalkulator MBG</name>
    <description>Hitung porsi makanan bergizi</description>
    <author>Fiqih Dimas</author>
    
    <content src="index.html" />
    <access origin="*" />
    
    <preference name="orientation" value="portrait" />
    <preference name="android-minSdkVersion" value="22" />
    
    <plugin name="cordova-plugin-whitelist" spec="1" />
</widget>